@*
copyright (c) 2022 Roberto Ceccarelli - Casasoft
http://strawberryfield.altervista.org

This file is part of Casasoft Contemporary Carte de Visite Web
https://github.com/strawberryfield/CCDV_Web

Casasoft CCDV Web is free software:
you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Casasoft CCDV Web is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
See the GNU General Public License for more details.

You should have received a copy of the GNU AGPL v.3
along with Casasoft CCDV Web.
If not, see <http://www.gnu.org/licenses/>.
*@
@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Casasoft.CCDV_Web.Components
@model Casasoft.CCDV_Web.Pages.MontaggioFotoModel
@{
    ViewData["Title"] = "Montaggio Foto";
}

<div class="row flex-grow-1">
    <div class="col-md-3 bg-lightgray">
        <div class="container-fluid d-flex flex-column">
            <form method="post" enctype="multipart/form-data">
                <component type="typeof(UploadMultiFiles)" render-mode="Static" />
                <component type="typeof(CheckBox)" param-Id="@("FullSize")" param-Label="@("Full Size")" render-mode="Static" />
                <component type="typeof(CheckBox)" param-Id="@("Trim")" param-Label="@("Trim")" render-mode="Static" />
                <component type="typeof(CheckBox)" param-Id="@("Borders")" param-Label="@("Con bordi")" render-mode="Static" />
                <div class="row">
                    <div class="col">
                        <label class="form-label">
                            Border size
                            <input type="number" id="Border" name="Border" value="3" class="form-control" />
                        </label>
                    </div>
                </div>
                <component type="typeof(CommonOptions)" render-mode="Static" />
            </form>
        </div>
    </div>
    <component type="typeof(ImageViewer)" render-mode="Static" param-ImgBase64="@Model.ImgBase64" />
</div>

