@*
copyright (c) 2022 Roberto Ceccarelli - Casasoft
http://strawberryfield.altervista.org

This file is part of Casasoft Contemporary Carte de Visite Web
https://github.com/strawberryfield/CCDV_Web

Casasoft CCDV Web is free software:
you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Casasoft CCDV Web is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
See the GNU General Public License for more details.

You should have received a copy of the GNU AGPL v.3
along with Casasoft CCDV Web.
If not, see <http://www.gnu.org/licenses/>.
*@
<UploadSingleFile Id="FrontImage" Label="Front image" />
<UploadSingleFile Id="BackImage" Label="Back image" />
<UploadSingleFile Id="LeftImage" Label="Left image" />
<UploadSingleFile Id="RightImage" Label="Right image" />
<UploadSingleFile Id="TopImage" Label="Top image" />
<UploadSingleFile Id="BottomImage" Label="Bottom image" />
<CheckBox Id="UseTestImages" Label="Use test images" isChecked="@UseTestImages" />
<div class="row">
    <div class="col-md-6">
        <input type="radio" name="TargetFormat" id="CDV" value="CDV" checked="@(TargetFormat == "CDV")" />
        <label for="CDV">Carte de Visite</label>
    </div>
    <div class="col-md">
        <input type="radio" name="TargetFormat" id="CC" value="CC" checked="@(TargetFormat == "CC")" />
        <label for="CC">Credit card</label>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <input type="radio" name="isHorizontal" id="Vertical" value="Vertical" checked="@(isHorizontal == "Vertical")" />
        <label for="Vertical">Vertical</label>
    </div>
    <div class="col-md-6">
        <input type="radio" name="isHorizontal" id="Horizontal" value="Horizontal" checked="@(isHorizontal == "Horizontal")" />
        <label for="Horizontal">Horizontal</label>
    </div>
</div>
<div class="row vspace">
    <div class="col-md-4">
        <input type="number" id="Thickness" name="Thickness" value="@Thickness" class="form-control" />
    </div>
    <div class="col-md">
        <label for="Thickness" class="label-control">mm Thick</label>
    </div>
</div>
<div class="row">
    <div class="col">
        <label for="BorderText">Border text</label>
        <input type="text" class="form-control" id="BorderText" name="BorderText" value="@BorderText" />
    </div>
</div>
<PaperFormat Id="PaperFormat" Format="@PaperFormat" />

@code {
    [Parameter]
    public bool UseTestImages { get; set; }
    [Parameter]
    public string PaperFormat { get; set; }
    [Parameter]
    public int Thickness { get; set; }
    [Parameter]
    public string BorderText { get; set; }
    [Parameter]
    public string TargetFormat { get; set; }
    [Parameter]
    public string isHorizontal { get; set; }

}
