@*
copyright (c) 2022-2023 Roberto Ceccarelli - Casasoft
http://strawberryfield.altervista.org

This file is part of Casasoft Contemporary Carte de Visite Web
https://github.com/strawberryfield/CCDV_Web

Casasoft CCDV Web is free software:
you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Casasoft CCDV Web is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
See the GNU General Public License for more details.

You should have received a copy of the GNU AGPL v.3
along with Casasoft CCDV Web.
If not, see <http://www.gnu.org/licenses/>.
*@
<div class="row">
    <div class="col">
        <label for="FontFace">Font</label>
        <select name="FontFace" id="Fontface" class="form-select">
            @foreach(var item in ImageMagick.MagickNET.FontFamilies)
            {
                <option value="@item" selected="@(item == Value)">@item</option>
            }
        </select>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <InnerCheckBox Id="FontBold" Label="Bold" isChecked="@Bold" />
    </div>
    <div class="col-md-6">
        <InnerCheckBox Id="FontItalic" Label="Italic" isChecked="@Italic" />
    </div>
</div>


@code {
    [Parameter]
    public string Value { get; set; }
    [Parameter]
    public bool Bold { get; set; }
    [Parameter]
    public bool Italic { get; set; }

}
